* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #212121;
  line-height: 1.6;
  min-height: 100vh; }

::selection {
  background-color: #94a69d;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: 6.5rem calc(100vh - 6.5rem) repeat(3, min-content) 6rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 28.125em) {
    .container {
      grid-template-rows: 4rem calc(100vh - 4rem) repeat(3, min-content) 4.5rem; } }

.heading-1 {
  font-size: 8rem;
  font-weight: 100;
  line-height: 1.3; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 6rem; } }
  @media only screen and (max-width: 28.125em) {
    .heading-1 {
      font-size: 4.5rem; } }

.heading-2 {
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.3; }

.header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(68, 110, 92, 0.8)), url(../img/header-back.jpg);
  background-size: cover;
  padding: 2rem;
  padding-top: 10rem;
  color: #fff;
  grid-column: full-start / full-end;
  grid-row: 1 / span 2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* &__btn {
        
        &:link,
        &:visited {
            font-size: 2rem;
            font-weight: 100;
            text-decoration: none;
            color: #fff;
            border: none;
            border-bottom: 1px solid #fff;
            padding-bottom: .8px;
            background-color: transparent;
            margin-top: 2rem;
            transition: all .2s;
            
            & span {
                margin-left: 3px;
                transition: margin-left .2s;
            }
        }

        &:hover {

            & span {
                margin-left: 8px;
            }
        }
    } */ }
  .header__text {
    text-align: center; }
  .header__btn {
    padding: .7rem 2.3rem;
    margin-top: 2rem;
    border: none;
    border-radius: 4%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all .2s;
    cursor: pointer; }
    .header__btn :link,
    .header__btn :visited {
      color: #212121;
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 1.8rem;
      text-decoration: none;
      text-transform: uppercase; }
    .header__btn:hover {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      color: #212121; }
    .header__btn:active, .header__btn:focus {
      outline: none; }

.nav {
  background-color: #94a69d;
  font-family: 'Roboto';
  font-weight: 100;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  z-index: 20;
  padding: 0rem 10rem;
  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: end;
  align-items: center; }
  @media only screen and (max-width: 43.75em) {
    .nav {
      padding: 0rem 5rem; } }
  @media only screen and (max-width: 28.125em) {
    .nav {
      padding: 0rem 2rem;
      font-weight: 300; } }
  .nav__name {
    font-size: 4rem;
    font-family: 'Allura';
    color: #fff;
    justify-self: start;
    font-weight: 300; }
    @media only screen and (max-width: 28.125em) {
      .nav__name {
        font-size: 3.5rem; } }
  .nav__list {
    list-style: none;
    display: flex;
    margin-top: .55rem; }
  .nav__item {
    font-size: 2.2rem;
    line-height: 1.6rem;
    padding-bottom: .3rem;
    border-bottom: solid;
    border-color: transparent;
    border-width: 1.5px;
    text-align: bottom;
    backface-visibility: hidden; }
    @media only screen and (max-width: 75em) {
      .nav__item {
        font-size: 2rem; } }
    @media only screen and (max-width: 28.125em) {
      .nav__item {
        font-size: 1.8rem; } }
    .nav__item:not(:last-child) {
      margin-right: 5rem; }
      @media only screen and (max-width: 43.75em) {
        .nav__item:not(:last-child) {
          margin-right: 3rem; } }
      @media only screen and (max-width: 28.125em) {
        .nav__item:not(:last-child) {
          margin-right: 1.8rem; } }
    .nav__item:hover {
      border-bottom: solid;
      border-width: 1.5px;
      border-color: #fff; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }

.work {
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/leaves.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  padding: 10rem 4.5rem;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .work {
      grid-gap: 3rem;
      padding: 10rem 3rem; } }
  @media only screen and (max-width: 58.125em) {
    .work {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      grid-gap: 4rem;
      padding: 10rem 4.5rem; } }
  @media only screen and (max-width: 43.75em) {
    .work {
      padding: 5rem 8rem;
      grid-gap: 6rem; } }
  @media only screen and (max-width: 28.125em) {
    .work {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      padding: 8rem 5rem; } }
  .work__item {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transition: all .2s;
    position: relative; }
    @media only screen and (max-width: 43.75em) {
      .work__item {
        background-color: rgba(255, 255, 255, 0.9); } }
    .work__item:hover {
      transform: scale(1.05);
      box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.35);
      background-color: rgba(255, 255, 255, 0.9); }
      @media only screen and (max-width: 43.75em) {
        .work__item:hover {
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          transform: scale(1); } }
  .work__icon {
    width: 3rem;
    fill: #94a69d;
    transform: translateY(-5.5rem);
    margin-bottom: -10rem; }
    @media only screen and (max-width: 75em) {
      .work__icon {
        width: 4rem; } }
    .work__icon--map {
      width: 4rem; }
      @media only screen and (max-width: 75em) {
        .work__icon--map {
          width: 5rem; } }
  .work__text {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 5rem;
    color: #212121; }
    @media only screen and (max-width: 75em) {
      .work__text {
        font-weight: 400;
        margin-bottom: 7rem; } }
  .work__heading {
    font-size: 2.2rem;
    font-weight: 300;
    padding-bottom: 4px; }
  .work__btn:link, .work__btn:visited {
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    color: #944779;
    border: none;
    border-bottom: 1px solid #944779;
    padding-bottom: 2px;
    background-color: transparent;
    margin: 0 auto;
    position: absolute;
    bottom: 4rem;
    transition: all .2s; }
    .work__btn:link span, .work__btn:visited span {
      margin-left: 3px;
      transition: margin-left .2s; }
  .work__btn:hover span {
    margin-left: 8px; }

.about {
  background-color: #fff;
  padding: 10rem 15rem;
  font-size: 8px;
  color: #212121;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .about {
      padding: 10rem 10rem; } }
  @media only screen and (max-width: 43.75em) {
    .about {
      flex-direction: column;
      text-align: center;
      padding: 8rem 10rem; } }
  .about__img {
    width: 20vw;
    border-radius: 50%;
    margin-right: 5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 75em) {
      .about__img {
        width: 25vw; } }
    @media only screen and (max-width: 62.5em) {
      .about__img {
        width: 30vw; } }
    @media only screen and (max-width: 43.75em) {
      .about__img {
        width: 50vw;
        margin-right: 0;
        margin-bottom: 4rem; } }
  .about__text {
    width: 25vw;
    font-size: 1.6rem;
    font-weight: 300; }
    @media only screen and (max-width: 75em) {
      .about__text {
        font-weight: 400; } }
    @media only screen and (max-width: 62.5em) {
      .about__text {
        font-weight: 400;
        width: 30vw; } }
    @media only screen and (max-width: 43.75em) {
      .about__text {
        width: 80vw; } }
  .about__heading {
    font-weight: 100;
    font-size: 3.5rem; }
  .about__paragraph {
    margin-bottom: 5px; }

.contact {
  background-color: #fff;
  padding: 10rem 15rem;
  font-size: 2rem;
  color: #212121;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 43.75em) {
    .contact {
      padding: 7rem 3rem; } }
  .contact__heading {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 28.125em) {
      .contact__heading {
        font-size: 3rem; } }
  .contact__paragraph {
    font-size: 1.6rem;
    font-weight: 300; }
    @media only screen and (max-width: 75em) {
      .contact__paragraph {
        font-weight: 400; } }
  .contact__channels {
    display: flex; }
  .contact__icon {
    width: 9rem;
    padding: 2rem;
    margin-top: -4rem;
    margin-bottom: -6rem;
    fill: #94a69d;
    transition: fill .2s; }
    @media only screen and (max-width: 75em) {
      .contact__icon {
        margin-top: -6rem;
        margin-bottom: -8rem; } }
    .contact__icon:hover {
      fill: rgba(148, 71, 121, 0.7);
      animation: pulse 1s infinite; }
      @media only screen and (max-width: 28.125em) {
        .contact__icon:hover {
          animation: none;
          fill: #94a69d; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.08); }
  100% {
    transform: scale(1); } }

.footer {
  background-color: #94a69d;
  padding: 10px;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__text {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300; }
  .footer__link {
    transition: color .2s; }
    .footer__link:link, .footer__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #212121; }
    .footer__link:hover {
      color: #fff; }
