* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #54483A;
  line-height: 1.6;
  min-height: 100vh; }

::selection {
  background-color: #446e5c;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: 6.5rem calc(100vh - 6.5rem) repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1 {
  font-size: 8rem;
  font-weight: 100;
  line-height: 1.3; }

.heading-2 {
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.3; }

.header {
  background-image: linear-gradient(rgba(68, 110, 92, 0.5), rgba(68, 110, 92, 0.5)), url(../img/header-back.jpg);
  background-size: cover;
  padding: 2rem;
  padding-top: 10rem;
  font-size: 8px;
  color: #fff;
  grid-column: full-start / full-end;
  grid-row: 1 / span 2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header__text {
    text-align: center; }
  .header__btn {
    padding: 1rem 3rem;
    margin-top: 2rem;
    border: none;
    border-radius: 4%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all .2s;
    cursor: pointer; }
    .header__btn :link,
    .header__btn :visited {
      color: #446e5c;
      font-weight: 400;
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase; }
    .header__btn:hover {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .header__btn:active, .header__btn:focus {
      outline: none;
      /* Removes the blue boarded that appears when clicking on a <button> */ }

.nav {
  background-color: #94a69d;
  font-family: 'Roboto';
  font-weight: 100;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  z-index: 20;
  padding: .3rem 10rem;
  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: end;
  align-items: center; }
  .nav__name {
    font-size: 4rem;
    font-family: 'Allura';
    color: #fff;
    justify-self: start;
    font-weight: 300; }
  .nav__list {
    list-style: none;
    display: flex; }
  .nav__item {
    font-size: 1.8rem;
    line-height: 1.6rem;
    padding-bottom: .2rem;
    border-bottom: solid;
    border-color: transparent;
    border-width: 1.5px;
    text-align: bottom;
    backface-visibility: hidden; }
    .nav__item:not(:last-child) {
      margin-right: 5rem; }
    .nav__item:hover {
      border-bottom: solid;
      border-width: 1.5px;
      border-color: #fff; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: -1rem; }

.work {
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(68, 110, 92, 0.5), rgba(68, 110, 92, 0.5)), url(../img/landscape.jpg);
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  padding: 10rem 4.5rem;
  text-align: center; }
  .work__item {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transition: all .2s;
    position: relative; }
    .work__item:hover {
      transform: scale(1.05);
      box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.35);
      background-color: rgba(255, 255, 255, 0.9); }
  .work__icon {
    width: 3rem;
    fill: #612106;
    transform: translateY(-6rem);
    margin-bottom: -10rem; }
    .work__icon--map {
      width: 4rem; }
  .work__text {
    font-size: 1.2rem;
    margin-bottom: 5rem;
    color: #212121; }
  .work__heading {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 4px; }
  .work__btn:link, .work__btn:visited {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    color: #612106;
    border: none;
    border-bottom: 1px solid #612106;
    padding-bottom: 2px;
    background-color: transparent;
    margin: 0 auto;
    position: absolute;
    bottom: 3rem;
    transition: all .2s; }
    .work__btn:link span, .work__btn:visited span {
      margin-left: 3px;
      transition: margin-left .2s; }
  .work__btn:hover span {
    margin-left: 8px; }

.about {
  background-color: #fff;
  padding: 10rem 15rem;
  font-size: 8px;
  color: #212121;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .about__img {
    width: 20vw;
    border-radius: 50%;
    margin-right: 5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .about__text {
    width: 25vw;
    font-size: 1.2rem; }
  .about__heading {
    font-weight: 100;
    font-size: 3.5rem; }
  .about__paragraph {
    margin-bottom: 5px; }

.contact {
  background-color: #94a69d;
  padding: 10px;
  font-size: 8px;
  color: white;
  grid-column: full-start / full-end; }

.footer {
  background-color: #94a69d;
  padding: 10px;
  font-size: 8px;
  color: white;
  grid-column: full-start / full-end; }
