.about {
    background-color: $color-green-light;
   // padding: 10rem 30rem;
    font-size: 8px;
    color: white;
    grid-column: full-start / full-end;
    display: flex;
    justify-content: center;
    align-items: center;


    &__box {

        width: 80vw;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 5vw;
        align-items: center;
    
    }


    &__img--1 {
        width: 63%;
        object-fit: cover;
        display: block;
        grid-column: 4 / span 4;
        grid-row: 3 / 11;
     



    }

    &__img--2 {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        grid-column: 6 / span 2;
        grid-row: 7 / span 5;
    }

    &__text {
        display: block;
        grid-column: 6 / span 3;
        grid-row: 2 / span 5;
        background-color: rgba(#fff, .9);
        color: $color-green-dark;
        font-size: 1.4rem;
        padding: 2rem 4rem;
        transform: translateX(2.7rem);
        border-radius: .7%;
    }
}