.about {
    background-color: $color-green-light;
    padding: 5rem 15rem;
    font-size: 8px;
    color: white;
    grid-column: full-start / full-end;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__img {
        width: 20vw;
        border-radius: 50%;
        margin-right: 5rem;
        box-shadow: 0 1rem 2rem rgba(black, .3);
    }

    &__text {
        width: 25vw;
        color: $color-green-dark;
        font-size: 1.2rem;
        
    }

    &__heading {
        font-weight: 100;
        font-family: 'Roboto';
        font-size: 3.5rem;
    }

    &__paragraph {
        margin-bottom: 5px;
    }

}

