
  
  // COLOR VARIABLES
  $color-green-dark: #446e5c;
  $color-green-medium: #94a69d;
  $color-green-light: #d5dbd9;

  $color-grey-light-1: #f9f7f6;
  $color-grey-light-2: #aaa;
  
  $color-grey-dark-1: #54483A;
  $color-grey-dark-2: #6D5D4B;

  

  // FONT VARIABLES
   $font-primary: 'Nunito', sans-serif;
   $font-display: 'Josefin Sans', sans-serif;
 
  
 * {
    margin: 0;
    padding: 0;
 }
  
 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }
  
 html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
 }
  
 body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $color-grey-dark-1;
    line-height: 1.6;
    min-height: 100vh;
 }

 ::selection {
   background-color: $color-green-dark;
   color: #fff;
}

 .container {
    display: grid;
    grid-template-rows: 6.5rem calc(100vh - 6.5rem) repeat(4, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

 }
 