
  
  // COLOR VARIABLES
  $color-green-dark: #446e5c;
  $color-green-medium: #94a69d;
  $color-green-light: #d5dbd9;

  $color-grey-dark: #212121;

 
  // RESPONSIVE BREAKPOINTS
   $bp-largest: 75em; // 1200px
   $bp-large: 62.5em; // 1000px
   $bp-middle: 58.125em; // 930px
   $bp-small: 43.75em; // 700px
  
 * {
    margin: 0;
    padding: 0;
 }
  
 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }
  
 html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

      @media only screen and (max-width: $bp-largest) {
         font-size: 50%; // 1rem is 8px 
      }
 }
  
 body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $color-grey-dark;
    line-height: 1.6;
    min-height: 100vh;
 }

 ::selection {
   background-color: $color-green-medium;
   color: #fff;
}

 .container {
    display: grid;
    grid-template-rows: 6.5rem calc(100vh - 6.5rem) repeat(3, min-content) 4.5rem;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

 }
 