.contact {
    background-color: #fff;
    padding: 10rem 15rem;
    font-size: 2rem;
    color: $color-grey-dark;
    grid-column: full-start / full-end;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media only screen and (max-width: $bp-small) {
        padding: 7rem 3rem;
     }

    &__heading {
        font-size: 4rem;
        font-weight: 100;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 3rem;
         }
    }

    &__paragraph {
        font-size: 1.6rem;
        font-weight: 300;

        @media only screen and (max-width: $bp-largest) {
            font-weight: 400;
         }
    }

    &__channels {
        display: flex;
    }

    &__icon {
        width: 9rem;
        padding: 2rem;
        margin-top: -4rem;
        margin-bottom: -6rem;
        fill: $color-green-medium;
        transition: fill .2s;

        @media only screen and (max-width: $bp-largest) {
            margin-top: -6rem;
            margin-bottom: -8rem;
         }

        &:hover {
            fill: rgba(#944779, .7);
            animation: pulse 1s infinite;

            @media only screen and (max-width: $bp-smallest) {
                animation: none;
                fill: $color-green-medium;
             }
        }
    }
}

@keyframes pulse {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}