.header {
    background-image: url(../img/header-back.jpg);
    background-size: cover;
    padding: 20px;
    font-size: 8px;
    color: white;

    grid-column: full-start / full-end;
    grid-row: 1 / span 2;
    z-index: 1;
}