.header {
    background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/header-back.jpg);
    background-size: cover;
    padding: 20px;
    font-size: 8px;
    color: #fff;

    grid-column: full-start / full-end;
    grid-row: 1 / span 2;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
        text-align: center;
    }

    &__btn {
        padding: 1rem 3rem;
        margin-top: 2rem;
        border: none;
       // border-width: 1px;
       // border-color: #fff;
        border-radius: 4%;
        background-color: rgba(#fff, .6);
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1.2rem;

        :link,
        :visited {
        color: $color-primary;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1.4rem;
        text-decoration: none;
        text-transform: uppercase;

        }

        
       // &:active,
      //  &:focus {
      //      transform: translateY(-.2rem);
     //       box-shadow: 0 .5rem 2rem rgba($color-grey-dark, 0.7);
      //      outline: none; /* Removes the blue boarded that appears when clicking on a <button> */
       // }
        

        
    }
    
}