.header {
    background-image: linear-gradient(rgba(#fff, .3), rgba($color-green-dark, .8)), url(../img/header-back.jpg);
    background-size: cover;
    padding: 2rem;
    padding-top: 10rem;
    color: #fff;

    grid-column: full-start / full-end;
    grid-row: 1 / span 2;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    &__text {
        text-align: center;
    }

    &__btn {
        padding: .7rem 2.3rem;
        margin-top: 2rem;
        border: none;
        border-radius: 4%;
        background-color: rgba(#fff, .6);
        transition: all .2s;
        cursor: pointer;

        
        :link,
        :visited {
            color: $color-grey-dark;
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 1.8rem;
            text-decoration: none;
            text-transform: uppercase;

        }

        &:hover {
            background-color: rgba(#fff, .8);
            box-shadow: 0 1rem 2rem rgba(black, .3);
            color: $color-grey-dark;
        }

        
        &:active,
        &:focus {
            outline: none;
       }
    }
       

      /* &__btn {
        
        &:link,
        &:visited {
            font-size: 2rem;
            font-weight: 100;
            text-decoration: none;
            color: #fff;
            border: none;
            border-bottom: 1px solid #fff;
            padding-bottom: .8px;
            background-color: transparent;
            margin-top: 2rem;
            transition: all .2s;
            
            & span {
                margin-left: 3px;
                transition: margin-left .2s;
            }
        }

        &:hover {

            & span {
                margin-left: 8px;
            }
        }
    } */
    
}