.nav {
    background-color: $color-green-medium;
    font-family: 'Roboto';
    font-weight: 100;
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    z-index: 20;
    padding: .3rem 10rem;
    position: fixed;
    width: 100vw;

    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: end;
    align-items: center;

    
    &__name {
        font-size: 4rem;
        font-family: 'Allura';
        color: #fff;
        justify-self: start;
        font-weight: 300;
    }
    

    &__list {
        list-style: none;
        display: flex;       
    }

    &__item {
        font-size: 1.8rem;
        line-height: 1.6rem;
        padding-bottom: .2rem;

        border-bottom: solid;
        border-color: transparent;
        border-width: 1.5px;
        text-align: bottom;
        backface-visibility: hidden;

        &:not(:last-child) {
            margin-right: 5rem;
        }


        &:hover {
            border-bottom: solid;
            border-width: 1.5px;
            border-color: #fff;

        }
    }


    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: -1rem;

    }
}