.nav {
    background-color: $color-green-medium;
    font-family: 'Roboto';
    font-weight: 100;
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    z-index: 20;
    padding: 0rem 10rem;
    position: fixed;
    width: 100vw;

    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: end;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
        padding: 0rem 5rem;
     }

     @media only screen and (max-width: $bp-smallest) {
        padding: 0rem 2rem;
        font-weight: 300;
     }

    
    &__name {
        font-size: 4rem;
        font-family: 'Allura';
        color: #fff;
        justify-self: start;
        font-weight: 300;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 3.5rem;
         }
    }
    

    &__list {
        list-style: none;
        display: flex;
        margin-top: .55rem;    
    }

    &__item {
        font-size: 2.2rem;
        line-height: 1.6rem;
        padding-bottom: .3rem;

        border-bottom: solid;
        border-color: transparent;
        border-width: 1.5px;
        text-align: bottom;
        backface-visibility: hidden;

        @media only screen and (max-width: $bp-largest) {
            font-size: 2rem;
         }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.8rem;
         }


        &:not(:last-child) {
            margin-right: 5rem;

            @media only screen and (max-width: $bp-small) {
                margin-right: 3rem;
             }

            @media only screen and (max-width: $bp-smallest) {
                margin-right: 1.8rem;
             }
        }


        &:hover {
            border-bottom: solid;
            border-width: 1.5px;
            border-color: #fff;

        }
    }


    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;

    }
}