.heading-1 { 
    font-size: 8rem;
    font-weight: 100;
    font-family: 'Roboto';
    line-height: 1.3;

}

.heading-2 { 
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Roboto';
    line-height: 1.3;

}