.work {
    grid-column: full-start / full-end;

    background-image: linear-gradient(rgba($color-green-dark, .5), rgba($color-green-dark, .5)), url(../img/landscape.jpg);
    background-size: cover;
    color: white;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    padding: 15rem 10rem;
    
    


    &__item {

        background-color: rgba(#fff, .8);
        color: $color-green-dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem;
    }

    &__icon {
        width: 4rem;
        fill: $color-green-medium;
        transform: translateY(-4.5rem);
        margin-bottom: -7rem;

        &--map {
            width: 5rem;
        }
    }

    //&__text {
        //width: 30rem;
        //height: 50rem;
   // }
}