.work {
    grid-column: full-start / full-end;

    background-image: linear-gradient(rgba(#fff, .3), rgba(#fff, .3)), url(../img/leaves.jpg);
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    padding: 10rem 4.5rem;
    text-align: center;

    @media only screen and (max-width: $bp-largest) {
        grid-gap: 3rem;
        padding: 10rem 3rem;
     }

     @media only screen and (max-width: $bp-middle) {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 4rem;
        padding: 10rem 4.5rem;
     }

     @media only screen and (max-width: $bp-small) {
        padding: 5rem 8rem;
     }

     @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        padding: 8rem 5rem;
     }
    

    &__item {

        background-color: rgba(#fff, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem;
        box-shadow: 0 1rem 2rem rgba(black, .3);
        transition: all .2s;
        position: relative;

        @media only screen and (max-width: $bp-small) {
            background-color: rgba(#fff, .9);
         }


        &:hover {
            transform: scale(1.05);
            box-shadow: 0 1.5rem 2.5rem rgba(black, .35);
            background-color: rgba(#fff, .9);

            @media only screen and (max-width: $bp-small) {
                box-shadow: 0 1rem 2rem rgba(black, .3);
                transform: scale(1);
             }
        }
    }

    &__icon {
        width: 3rem;
        fill: $color-green-medium;
        transform: translateY(-6rem);
        margin-bottom: -10rem;

        @media only screen and (max-width: $bp-largest) {
            width: 4rem;
         }

        &--map {
            width: 4rem;

            @media only screen and (max-width: $bp-largest) {
                width: 5rem;
             }
        }
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 5rem;
        color: $color-grey-dark;

        @media only screen and (max-width: $bp-largest) {
            font-weight: 400;
         }
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 300;
        padding-bottom: 4px;
    }

    &__btn {
        
        &:link,
        &:visited {
            font-size: 1.8rem;
            font-weight: 300;
            text-decoration: none;
            color: #944779;
            border: none;
            border-bottom: 1px solid #944779;
            padding-bottom: 2px;
            background-color: transparent;
            margin: 0 auto;
            position: absolute;
            bottom: 3rem;
            transition: all .2s;
            
            & span {
                margin-left: 3px;
                transition: margin-left .2s;
            }
        }

        &:hover {

            & span {
                margin-left: 8px;
            }
        }
    }
}